<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define ProductPath="..\build\products\$(var.Configuration)\net8.0\"?>
	<Fragment Id="CustomActions">
        <!--<Binary Id="InstallEx4File" SourceFile="$(var.MtApiSetupActions.TargetDir)$(var.MtApiSetupActions.TargetName).dll" />
        <CustomAction Id="InstallEx4FileAction" DllEntry="InstallEx4File" Execute="immediate" Return="check" BinaryRef="InstallEx4File" />-->
    </Fragment>
</Wix>